h2 {
    text-align: center;
    color: #0077B6;
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
}

section {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 10px;
}

section h3 {
    font-family: 'Playfair Display', serif;
    color: #364547;
    border-bottom: 2px solid #72B4A4;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

code {
    display: block;
    background-color: #F9D3BA;
    border-radius: 10px;
}


pre {
    background-color: #F9D3BA;
    border-radius: 10px;
    margin: 10px 0;
}

main {
    margin-right: 30px;
}