{% extends "base.html" %}

{% block title %}
Biblioteca
{% endblock %}

{% block head_extra %}
<style type="text/css">
    .language-button {
        display: inline-block;
        background-color: #72B4A4;
        color: #fff;
        padding: 15px 30px;
        margin: 10px;
        font-size: 1.5rem;
        border-radius: 8px;
        text-align: center;
        transition: background-color 0.3s;
    }

    .language-button:hover {
        background-color: #5A927E;
        text-decoration: none;
    }

    .content {
        text-align: center;
    }

    body, html {
        overflow: hidden;
    }

</style>
{% endblock %}

{% block main_content %}
<main>
    <div class="content">
        <!-- Relleno Página -->    
        <h2>Biblioteca de Programación</h2>
        <p>Aquí encontrarás información básica sobre algunos de los lenguajes de programación. ¡Haz clic en uno para aprender más!</p>
        <a href="{{ url_for('general.logo_guide') }}" class="language-button">Logo</a>
        <a href="{{ url_for('general.cpp_guide') }}" class="language-button">C++</a>
        <a href="{{ url_for('general.python_guide') }}" class="language-button">Python</a>
        <a href="{{ url_for('general.java_guide') }}" class="language-button">Java</a>
        <a href="{{ url_for('general.web_guide') }}" class="language-button">HTML + CSS + JavaScript</a>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
