{% extends "base.html" %}

{% block title %}
Juegos
{% endblock %}

{% block imported_styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block head_extra %}
<style>
    iframe {
        padding: 0;
        margin: auto; /* Centrar el iframe horizontalmente */
        box-sizing: border-box;
        display: block; /* Asegurar que el iframe se comporta como un bloque para aceptar márgenes automáticos */
        border: none; /* Opcional: elimina el borde del iframe */
    }

    .show-result {
        flex: 1;
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 0px;
        text-align: center;
    }

    .show-result2 {
        display: flex;
        justify-content: center; /* Centra los hijos horizontalmente */
        align-items: center; /* Centra los hijos verticalmente */
        flex-direction: column; /* Organiza los hijos en una columna */
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px; /* Centrar el div .show-result horizontalmente */
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 0px;
        overflow: hidden; /* Evitar cualquier desbordamiento */
        height: 700px; /* Altura suficiente para contener el iframe y el título */
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 20px; /* Espacio debajo del título */
    }

    body, html {
        overflow: hidden;
    }

    .show-result2 iframe {
        transform: rotate(0deg); /* Rota el iframe 90 grados */
        /* Ajustes adicionales para manejar el cambio de dimensiones después de la rotación */
        height: 800px; /* Ajusta al tamaño de visualización deseado */
        width: 600px;  /* Ajusta al tamaño de visualización deseado */
    }

    .game-container {
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-around; /* Esto separará igualmente los elementos */
        align-items: flex-start; /* Esto asegurará que los elementos se alineen en la parte superior */
        padding: 0;
        margin: 0;
    }

    .game-link {
        flex: 0 0 calc(45% - 10px); /* Ocupa el 50% del ancho del contenedor menos el margen */
        margin: 5px; /* Da un poco de espacio alrededor de los enlaces */
        text-decoration: none; /* Opcional: elimina el subrayado de los enlaces */
    }

    .opt {
        background-size: cover;
        background-position: center;
        position: relative;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding-top: calc(50% - 20px); /* Esto creará la altura del elemento basada en el ancho */
        box-sizing: border-box; /* Para incluir el padding y el borde en el ancho y altura total */
    }

    .game-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 10px 0; /* Ajuste este valor según necesite */
    }

    .opt img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    *, ::after, ::before {
        box-sizing: initial; /* Vuelta a la configuración por defecto */
    }
</style>
{% endblock %}

{% block main_content %}
<!-- Contenido Principal -->
<main>
    <div class="show-result">
        <h2>JUEGOS</h2>
    </div>
    <div class="game-container" data-requirements-completed="{{ requirements_completed|tojson }}">
        <a href="{{ url_for('game.minesweeper') }}" class="game-link">
            <div class="opt" style="background-image: url('../static/img/minesweeper.png');">
                <div class="game-title"> Buscaminas </div>
            </div>
        </a>
        <a href="{{ url_for('game.chess') }}" class="game-link">
            <div class="opt" style="background-image: url('../static/img/chess.png');">
                <div class="game-title"> Ajedrez </div>
            </div>
        </a>
        <a href="{{ url_for('game.g_2048') }}" class="game-link">
            <div class="opt" style="background-image: url('../static/img/2048.jpeg');" >
                <div class="game-title"> 2048 </div>
            </div>
        </a>
        <a href="{{ url_for('game.hextris') }}" class="game-link">
            <div class="opt" style="background-image: url('../static/img/hextris.png');">
                <div class="game-title"> Hextris </div>
            </div>
        </a>
    </div>

    <!-- Modal para Requisitos No Completados -->
    <div class="modal fade" id="requirementsModal" tabindex="-1" aria-labelledby="requirementsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="requirementsModalLabel">Requisitos No Completados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Para acceder a este juego necesitas completar todos los requisitos del módulo correspondiente.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal para Confirmar Pago -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">Confirmar Pago</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Este juego cuesta X créditos. ¿Estás dispuesto a seguir?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="confirmPayment">Sí</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal para Confirmar Pago -->
    <div class="modal fade" id="moneyModal" tabindex="-1" aria-labelledby="moneyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">¡Haz más ejercicios!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            No suficiente dinero.
            </div>
        </div>
        </div>
    </div>

</main>    
{% endblock %}

{% block scripts %}
<!-- Primero, incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Después, incluye Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        var gamePrice = {{ game_price|tojson }};
        var studentScore = {{ student_score|tojson }};
        var requirementsCompleted = $('.game-container').data('requirements-completed');
        var showPaymentModal = {{ show_payment_modal|tojson }};
        var showNotMoneyModal = {{ show_not_money_modal|tojson }};

        if (!requirementsCompleted) {
            $('#requirementsModal').modal('show');
        }

        if (showPaymentModal) {
            $('#paymentModal').modal('show');
            $('#paymentModal .modal-body').text('Este juego cuesta ' + gamePrice + ' puntos. Tienes ' + studentScore + ' créditos. ¿Estás dispuesto a seguir?');
        }

        if (showNotMoneyModal) {
            $('#moneyModal').modal('show');
            $('#moneyModal .modal-body').text('Este juego cuesta ' + gamePrice + ' puntos. Tienes ' + studentScore + ' puntos.');
        }

        $("#confirmPayment").on("click", function() {
            if (studentScore >= gamePrice) {
                $.ajax({
                    url: '/procesar_pago', // La URL de tu endpoint en Flask
                    type: 'POST',
                    data: JSON.stringify({ game_price: gamePrice, student_score: studentScore }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function(response) {
                        if (response.payment_successful) {
                            // Redirigir al juego si el pago fue exitoso
                            window.location.href = response.redirect_url;
                        } else {
                            // Manejar el caso donde no se pudo procesar el pago
                            alert("No se pudo procesar el pago. Por favor, inténtalo de nuevo.");
                        }
                    },
                    error: function(error) {
                        // Manejar errores de la solicitud AJAX
                        alert("Error al procesar la solicitud. Por favor, inténtalo de nuevo.");
                    }
                });
            } else {
                alert("No tienes suficientes créditos para realizar esta transacción.");
            }
        });

    });
</script>


{% endblock %}



