{% extends "base.html" %}

{% block title %}
Preguntas
{% endblock %}

{% block head_extra %}
<style type="text/css">
    /* Diseño del formulario de preguntas */
    form {
        margin: 30px 10px;
        padding: 20px 30px;
        background-color: #FFF;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #72B4A4;
        margin-bottom: 20px;
        resize: vertical;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="file"] {
        margin-bottom: 20px;
        display: block;
    }

    input[type="submit"] {
        background-color: #72B4A4;
        border: none;
        padding: 12px 25px;
        border-radius: 10px;
        cursor: pointer;
        color: #FFF;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.3s;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="submit"]:hover {
        background-color: #62a394;
        transform: scale(1.05);
    }

    .notifications {
        position: fixed;
        top: 150px;
        right: 20px;
        width: 300px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        z-index: 1000;  /* para asegurar que se muestre por encima de otros elementos */
    }

    .notification-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        background-color: #FFEB3B;  /* color amarillo de fondo */
    }

    .notification-item:last-child {
        border-bottom: none;
    }

    /* Listado de preguntas */
    .questions-dropdown, .exercises-dropdown {
        margin-top: 20px;
        background-color: #FFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    #toggleQuestions, #toggleComments {
        background-color: #72B4A4;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #toggleQuestions:hover, #toggleComments:hover  {
        background-color: #62a394;
    }

    .questions-content .question-item, .exercises-content .exercise-item   {
        padding: 10px;
        border: 4px solid #ddd;
        background-color: #f9f9f9;
        margin-bottom: 30px;
    }


    /* Estilos ajustados para el formulario y listado de preguntas */
    form, .questions-dropdown, .exercises-dropdown {
        margin: 30px auto;
        padding: 20px 30px;
        background-color: #FFF;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 80%;
        width: 100%;
    }

    /* Estilo ajustado para el botón de "Mis Preguntas" */
    #toggleQuestions, #toggleComments {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }


    /* Estilo para el contenido de preguntas */
    .questions-content, .exercises-content {
        margin-top: 20px;
        border-top: 1px solid #ddd;
    }

    .question-item, .exercise-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Estilo para el enlace de la imagen adjunta */
    a {
        color: #72B4A4;
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: #62a394;
    }

    main {
        margin-right: 30px;
    }

</style>
{% endblock %}

{% block main_content %}
<main>
    <!-- Formulario de Preguntas -->
    <form action="{{ url_for('student.submit_question') }}" method="POST" enctype="multipart/form-data">
        <h2>Escribe tu pregunta</h2>
        
        <textarea name="question_text" required rows="5" placeholder="Escribe aquí tu pregunta..."></textarea>
        
        <label for="attachment">Adjunta imágenes o código (opcional):</label>
        <input type="file" name="attachment" accept=".jpg, .jpeg, .png, .txt, .py .html .css .cpp .zip">
        
        <input type="submit" value="Enviar pregunta">
    </form>
    
    <!-- Dropdown de Preguntas -->
    <div class="questions-dropdown">
        <button id="toggleQuestions">Mis Preguntas</button>
        <div class="questions-content">
            {% for question in student_questions|reverse %}
                <div class="question-item">
                    <p><strong>Pregunta:</strong> {{ question.question_text }}</p>
                    {% if question.answer_text %}
                        <p><strong>Respuesta:</strong> {{ question.answer_text }}</p>
                    {% endif %}
                    {% if question.attachment_name %}
                        <a href="{{ url_for('teacher.asked_questions', filename=question.attachment_name) }}" target="_blank">Ver imagen adjunta</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Listado de Ejercicios Comentados -->
    <div class="exercises-dropdown">
        <button id="toggleComments">Ejercicios Comentados</button>
        <div class="exercises-content">
            {% for exercise in commented_exercises|reverse %}
                <div class="exercise-item">
                    <p><strong>Ejercicio ID:</strong> {{ exercise.id }}</p>
                    <p><strong>Fecha de Revisión:</strong> {{ exercise.completion_date }}</p>
                    <p><strong>Comentario del Profesor:</strong> {{ exercise.comments }}</p>
                    <p><strong>Código de Solución:</strong></p>
                    <pre>{{ exercise.solution_code }}</pre>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Ocultar el contenido al inicio
        $(".questions-content").hide();
        $(".exercises-content").hide();

        // Toggle del contenido al hacer clic en el botón
        $("#toggleQuestions").click(function() {
            $(".questions-content").slideToggle();
        });

        // Toggle del contenido al hacer clic en el botón
        $("#toggleComments").click(function() {
            $(".exercises-content").slideToggle();
        });
    });
</script>
{% endblock %}
