{% extends "base.html" %}

{% block title %}
Teoria
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/theme/material.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/clike/clike.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/javascript/javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/python/python.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/xml/xml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/css/css.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style type="text/css">
    body {
        margin: 0;
        height: 100vh;
        font-family: 'Open Sans', sans-serif;
        background-color: #E1E9EE; /* Color azul claro */
    }

    .top-nav, .side-nav {
        background-color: #72B4A4; /* Color turquesa */
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
        border-radius: 20px;
    }

    .top-nav {
        z-index: 10;
        position: fixed;
        top: 0px;
        left: 10px;
        right: 10px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        font-size: 1.5rem;
    }

    .logo {
        height: 140px;
    }

    .user-profile {
        display: flex;
        align-items: center;
    }

    .user-image {
        width: 80px;
        height: 80px;
        border-radius: 30%;
        margin-right: 15px;
    }

    .user-name, .user-config {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .user-config {
        font-size: 0.7em;
        color: #FF7F50; /* Color coral */
    }

    .side-nav {
        position: fixed;
        top: 140px;
        left: 20px;
        width: 210px;
        padding: 20px;
    }

    .side-nav ul {
        list-style-type: none;
        padding: 0;
    }

    .side-nav ul li {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: #F9D3BA; /* Color melocotón claro */
    }

    .side-nav ul li:hover {
        background-color: #FFB085; /* Color melocotón oscuro */
    }

    .side-nav ul li a {
        text-decoration: none;
        color: #364547; /* Color gris oscuro */
        font-size: 1.2rem;
    }

    main {
        margin-left: 140px;
        padding: 20px;
    }
    
    @media only screen and (max-width: 768px) {
        .top-nav {
            flex-direction: column;
            height: auto;
            padding: 15px;
            top: 0px;
            left: 10px;
            right: 10px;
        }

        .user-profile {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }

        .side-nav {
            position: relative;
            top: 0;
            width: 100%;
            padding: 10px;
            display: flex;
            overflow-x: auto;
        }

        .side-nav ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        main {
            margin: 0;
            padding: 15px;
            padding-top: 50px;
        }
    }

    #avatarModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #avatarModal .avatars {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    #avatarModal img {
        width: 120px;
        height: 120px;
        cursor: pointer;
    }

    #sourceCode {
        height: 300px; /* Ajusta según tus preferencias */
        width: 100%;
    }

    .user-details {
        display: block;
        flex-direction: column;
        justify-content: center;
    }

    .compiler-section {
        flex: 1;
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;

        display: flex;
        flex-direction: column;
    }

    .exercise-info {
        flex: 1;
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 120px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .editor-area {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    button {
        font-size: 1.5em;
        padding: 10px 20px;
        background-color: #72B4A4;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
        align-self: center;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #62a394;
    }


    @media only screen and (max-width: 500px) {
        .user-details {
            align-items: center;
            text-align: center;
        }
    }

    .show-result {
        flex: 1;
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    .user-details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px; /* Reducir margen derecho */
        margin-bottom: 0px;
    }

    .logout-btn {
        background-color: #FF7F50; /* Color coral */
        color: #fff;
        padding: 5px 10px; /* Ajustar padding */
        border-radius: 8px;
        text-decoration: none;
        font-size: 1rem;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
        margin-left: 10px; /* Añadir margen izquierdo */
    }

    .logout-btn:hover {
        background-color: #E76645; /* Un tono más oscuro de coral para el hover */
    }

    /* Estilos variables introducidas */
    textarea.programInput {
        width: 80%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    #addInput {
        margin-top: 10px;
        font-size: 1em;
        background-color: #F9D3BA;
    }

    #addInput:hover {
        background-color: #FFB085;
    }

    #language {
        margin-top: 10px;
        padding: 10px;
        border-radius: 8px;
    }

    .editor {
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }

    #output {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-top: 0px;
        background-color: #f5f5f5;
    }

    .compiler-section h2 {
        margin-top: 0;
    }

    .exercise-info h2 {
        margin-top: 0;
    }

    .language-selector {
        margin-bottom: 40px;
    }

    button {
        font-size: 1.5em;
        padding: 10px 20px;
        background-color: #72B4A4;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
        align-self: center;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #62a394;
    }

    .send_button {
        background-color: #FF7F50;
    }

    .exercise-info {
        flex: 1;
        padding: 20px;
        border: 1px solid #72B4A4;
        border-radius: 15px;
        margin: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 120px;
        margin-left: 140px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .module-description {
        white-space: pre-line;
        word-wrap: break-word;
    }

</style>
{% endblock %}


{% block main_content %}

<div class="exercise-info">
    <h2><strong id="exercise-name">{{ content.name if content.name else "Teoría" }}</strong></h2> <!-- nombre del ejercicio -->

    <div class="module-description">
        {{ content.content }}
    </div>

    <!-- Si hay una imagen asociada con la teoría, mostrarla -->
    {% if content.image_path %}
    <div class="row mt-4">
        <div class="col-md-12">
            <img src="{{ content.image_path }}" alt="Imagen Teoría" class="img-fluid">
        </div>
    </div>
    {% endif %}

    <!-- Aquí puedes agregar botones o acciones que el usuario pueda realizar después de leer la teoría -->
    <div class="row mt-4">
        <div class="col-md-12">
            <form action="{{ url_for('student.mark_theory_as_read', content_id=content_id) }}" method="post">
                <button type="submit" class="send-button">Siguiente</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


